{% extends 'jijiapp/base/base.html' %}

{% load static %}


{% block content %}

<!-- viewed item -->
{% if viewed_items %}
<div class="row rowwidth pt-5 bg-dark mb-5">
  <div class="container mx-auto">
    
    <div class="row">
      {% for item in viewed_items %}
      <h4 class="lead text-center text-white">Items you save</h4>
      {% if item not in favs %}
      <div class="col-lg-4 col-md-4 col-sm-6 mb-5 colheight">
        <div class="card bg-light card-style">
          <a href="{% url 'detail' item.id %}" class="card-link text-decoration-none">
            <img src="{{ item.thumbnails.url }}" alt="First Image" class="card-img-top img-fluid mx-auto align-items-stretch">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <hr class="star-light">
            <p class="card-text">Price: <strike>N</strike>{{ item.price }}</p>
            <hr class="star-light">
            <div class="row">
              <div class="col-6">
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="item_id" value="{{ item.id }}">
                  <button type="submit" class="btn btn-primary btn-block col-12">View</button>
                </form>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                {% if item.id not in favs %}
                <form action="{% url 'favorite' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="favorite_id" value="{{ item.id }}">
                  <button type="submit" name="favorite" class="col-12 btn btn-success btn-block">Favorites</button>
                </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}



      
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 mx-auto">
        <div class="image-container">
            <img src="{{ homeimage.image.url }}" alt="images/jiji man image.png" class="img-fluid">
        </div>
        </div>
    </div>
</div>
      
      
<div class="">
    <div class="loaction text-center">
        <p class="lead">Find everything you want all in <strong><i class="fa fa-map"></i> Nigeria </strong></p>
    </div>

    <form action="." method="get" class="d-flex justify-content-center">
        <div class="form-outline col-sm-6 col-md-4">
            <div class="label">
                <input id="search-input" type="search" name="search" class="form-control"
                        placeholder="Search" style="height: 50px;"/>
                <label class="form-label" for="form1"></label>
            </div>
        </div>
        <button id="search-button" class="btn btn-primary" style="height: 50px;">
            <i class="fa fa-search"></i>
        </button>
    </form>


    {% if item_category %}
    <div class="row pt-5 bg-light">
        {% for item in item_category %}
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5 colheight">
          <div class="card bg-light card-style">
            <a href="{% url 'detail' item.id %}" class="card-link text-decoration-none">
              <img src="{{ item.thumbnails.url }}" alt="First Image" class="card-img-top img-fluid mx-auto align-items-stretch">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <hr class="star-light">
              <p class="card-text">Price: <strike>N</strike>{{ item.price }}</p>
              <hr>
              {% if user.is_authenticated %}
              <form id="form-{{ item.id }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button type="submit" class="btn btn-primary btn-block col-sm-12 col-md-12 col-lg-12">
                  View
                </button>
              </form>
              {% else %}
              <a href="{% url 'login' %}" class="btn btn-success btn-sm btn-block" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Login to buy this item</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    {% elif item_category == None %}
        <p class="text-center text-danger">
            Search for Items here!! 
            
        </p>
    {% else %}
        <p class="text-center text-danger">
            
            No item with name {{ name }}
        </p>
    {% endif %}
</div>
{% endblock %}
