
<div class="card">
    <div class="loaction text-center">
        <p class="lead">Find Store</p>
    </div>

    <form action="." method="get" class="d-flex justify-content-center">
        <div class="form-outline col-sm-6 col-md-4">
            <div class="label">
                <input id="search-input" type="search" name="search" class="form-control"
                        placeholder="Search" style="height: 50px;"/>
                <label class="form-label" for="form1"></label>
            </div>
        </div>
        <button id="search-button" class="btn btn-primary" style="height: 50px;">
            <i class="fa fa-search"></i>
        </button>
    </form>

    {% if search_store %}
    <div class="row rowwidth pt-5 bg-light mb-5"> 
    {% for store in search_store %}
    <div class="col-sm-4 col-md-4 col-lg-3 card-style3 mb-4 mx-auto">
        <div class="card card-style h-100" style="background-color: rgb(196, 223, 223)">
            <div class="card-image-top">
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-2">
                            <img src="{{ store.logo.url }}" alt="first image" class="thumbnails" style="width: 50px; height: 50px;">
                        </div>
                        <div class="col-6 mx-auto bg-dark text-white p-2 text-center lead">
                            <p class="card-title text-white" style="font-size: 0.9rem;">{{ store.name }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <hr>
                    <p class="card-text card1">{{ store.discription }}</p>
                    <hr>
                    <p class="card-text">Location: {{ store.location }}</p>
                    <small class="card-footer text-danger">{{ store.create_date | date }} | {{ store.author }}</small>
                    <hr>
                    <div class="row">
                        {% if user != store.author %}
                        <div class="col-12 text-center mb-3">
                            <a href="{% url 'jijistore:enter_store' store.id %}" class="btn btn-success">Enter Store</a>
                        </div>
                        {% else %}
                        <div class="col-6 text-center mb-3">
                            <a href="{% url 'itemupload' store.id %}" class="btn btn-success">Add Item</a>
                        </div>
                        <div class="col-6 text-center mb-3">
                            <a href="{% url 'jijistore:enter_store' store.id %}" class="btn btn-success">Enter</a>
                        </div>
                        <div class="col-6 text-center mb-3">
                            <a href="{% url 'deletstore' store.id %}" class="btn btn-success bg-danger">Delete</a>
                        </div>
                        <div class="col-6 text-center mb-3">
                            <a href="{% url 'jijistore:edit_store' store.id %}" class="btn btn-success bg-success">Edit</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% elif search_store == None %}
        <p class="text-center text-danger">
            Search for Store here!! 
            
        </p>
    {% else %}
        <p class="text-center text-danger">
            
            No Store with name {{ name }}
        </p>
    {% endif %}
</div>
