{% extends 'jijiapp/base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Upload Item {% endblock %}


{% block content %}
<div class="container mb-3" style="font:bold;">
    <div class="col-5 bg-dark mx-auto text-white">
        <div class="text-center pt-5 pb-3 mx-3">
            <p class="lead text-bold" style="font-size:2rem; font-weight: bold;">Are you sure you want to delete the store "{{ store.name }}"?</p>
            <small class="text-danger">if you delete {{ store.name}}, You will loose all items you added inside</small>
        </div>
        <hr>
        <div class="row mx-auto mx-5">
            <div class="col-5 mx-3 px-3 mb-3 mx-auto">
                <form method="post" action="{{ delete_url }}">
                    {% csrf_token %}
                    <button class="btn btn-success bg-success" name="confirm_delete">Yes, delete</button>
                    
                </form>
            </div> 
            <div class="col-5 mx-3 px-3 mb-3">
                <a href="{% url 'jijistore:all_store' %}" class="btn btn-success bg-success">No, cancel</a>
            
            </div>   
                
        </div>

    </div>
    
</div>

{% endblock %}