{% block content %}
<div class="jumbotron text-center" style="background-color: #f8f9fa;">
    <h1 class="display-3" style="font-family: 'Montserrat', sans-serif; color: #343a40;">Welcome to</h1>
    <h2 class="display-4" style="font-family: 'Pacifico', cursive; color: #2b9e82;">Market Place</h2>
    <p class="lead" style="color: #6c757d;">Buy and Sell Your Items Today!</p>
  </div>
  

    {% include 'jijiapp/base/searchbase.html' %}
    
    {% include 'jijiapp/base/homebase.html' %}
    {% include 'jijiapp/base/footer.html' %}


</div>

{% endblock %}